.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
  
}
.header__navbar-item{
    margin: 0 8px ;
    position: relative;
    min-height: 26px;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7)
}

.header__navbar-item-strong{
    font-weight: 400;   
}
.header__navbar-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--while-color);
}
/* header qr code*/
.header__qr{
    top: 100%;
    width: 130px;
    background-color: var(--while-color);
    position: absolute;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__qr-img{
    width: 100%;
}
.header__qr-app{
    display: flex;
    justify-content: space-between;

}
.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__qr-download-img{
    height: 14px;
}
.header__qr-link:nth-child(1){
   margin-left: -6px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
/* header notification*/
.header__notify-img{
    width: 48px;
    height: 40px;
}

@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);

    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify{
    position: absolute;
    top: 110%;
    right: 0;
    width: 404px;
    border: 1px solid #d3d3d3;
    background-color: var(--while-color);
   cursor: default;
   animation: headerNotifyGrowth ease-in 0.2s;
   transform-origin: 90% top ;
   display: none;
}
/* .header__notify::before {
    content: "";
    border: 20x 30px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    right: 0;
    top: -30px;
} */
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
    
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__notify-header{
    height: 40px;
    background-color: var(--while-color)
    
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
    user-select: none;
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
    display: flex;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08)
}
.header__notify-link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
    
}
.header__notify-img
{
    object-fit: contain;
}
.header__notify-infor{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-description{
    display: block;
    font-size: 12px;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}
.header__notify--footer{
   display: flex;
}

.header__notify--footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0 ;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.modal__body{
    width: 500px;
    height: 450px;
    background-color: var(--while-color);
    margin: auto;
    position: relative;
    z-index: 1;
    /* border-radius: 5px; */
    
}
/* authen modal */
.auth-form{
    width: 500px;
    height: 400px;
    
}
.author-form__container{
    padding: 0 32px ;
   
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{
   


}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.btn.btn--size-s{
    height: 30px;
    font-size: 12px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;

}
.auth-form__socials--facebook{
    color: var(--while-color);
    background-color: #3A5A98;
}

.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--while-color);
    
}
.auth-form__socials-label{
    margin: 0 32px;
}
.auth-form__socials--google{
    color: #666;
    background-color: var(--while-color);
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-seperate{
    display: block;
    border-left: 1px solid var(--border-color);
    margin:  0 16px;
    height: 20px;
}
.auth-form__help-forgot{
    color: var(--primary-color);

}
/* header-with-search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;

}
.header__logo{
    width: 200px;

}
.header__logo-img{
    width: 150px;
}
.header_search{
    background-color: var(--while-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header_cart{
    width: 150px;
    text-align: center;
}
.header_cart-icons{
    font-size: 2rem;
    color: var(--while-color);
    margin-top: 7px;

}
.header_search-input{
    /* width: 100%; */
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}
.header_search-select{
    border-left: 1px solid #ccc;

}